<h2>Cadastre-se</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|  %>
  <%= devise_error_messages! %>

  <div class="form-group col-sm-4 col-sm-offset-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control" %>
  </div>

  <div class="form-group col-sm-4 col-sm-offset-4">
    <%= f.label :senha %>
    <% if @validatable %>
    <em>(Mínimo de <%= @minimum_password_length %> caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="form-group col-sm-4 col-sm-offset-4">
    <%= f.label :confirmar_senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
  </div><br>

  <div class="col-sm-4 col-sm-offset-4">
    <%= f.submit "Cadastrar", class:"btn btn-primary" %>
  </div>
<% end %>

<div class="col-sm-12">
  <%= render "devise/shared/links" %>
<div>