<%= form_for @simulator, html: { multipart: true } do |f| %>
  <% if @simulator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@simulator.errors.count, "error") %> prohibited this simulator from being saved:</h2>

      <ul>
      <% @simulator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %> <br>
    <%= f.text_field :name, tabindex:"1" %>
  </div>
  <div class="field">
    Categoria<br>
    <%= collection_select(:simulator, :category_id, Category.all, :id, :name, prompt: true, tabindex:"2") %>
  </div>
  <div class="field">
    <%= f.label :descrição %><br />
    <%= f.text_area :description, tabindex:"3" %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url, tabindex:"4" %>
  </div>
  <div class="field">
    <%= f.label :imagem %><br />
    <%= f.file_field :icon, tabindex:"5", class:"btn btn" %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-primary", tabindex:"6" %>
  </div>
<% end %>