<p id="notice"><%= notice %></p>

<div class="btn btn-block">
  <hr style="border:5px outset #404040;">

  <h1 style="font-size:400%; font-weight: bold; font-family: serif; border:5px groove #404040" id="mudacor">
    <t id="color_red">S</t>IMUL<t id="color_blue">E</t>DU
  </h1>

  <hr style="border:5px outset #404040">
</div>

<br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
<% @simulators.each do |simulator| %>
        <div class="col-md-6" style="height:400px; /*border:5px solid black*/">
          <div class="col-md-12">
            <div class="col-md-6">
              <p style="font-weight:normal">
                Cadastrado em <%= (simulator.created_at.strftime("%B %d %Y")) %>
              </p>
              <a target="_blank" class="thumnail" href="<%= simulator.url %>">
                <%= image_tag simulator.icon.url, class:"img-thumbnail", width:"300" %>
              </a><br><br>
              
              <t aria-hidden="true">
                <%= link_to 'Like', like_simulator_path(simulator), class:"btn btn-success" %>
              </t>
              <t aria-hidden="true">
                <%= link_to 'Dislike', dislike_simulator_path(simulator), class:"btn btn-danger" %>
              </t>
              
              <br><br>
              Likes <span class="badge" ><%= (simulator.get_upvotes.size) %></span>
              Dislikes <span class="badge" ><%= (simulator.get_downvotes.size) %></span>
              <br><br>
            </div>
            <div class="col-md-6">
              <h3>
                <%= simulator.name %>
              </h3>
               <p>
                <span class="label label-info" style="color:#000;">
                  <%=  simulator.category.name %>
                </span>
              </p>
              <p class="alert panel-primary" style="text-align:left;">
                <%= simulator.description %>
              </p>
              <div class="btn-group btn-primary" role="group" aria-label="bgroup">
                <a><%= link_to 'Exibir', simulator, class:"btn btn-primary" %></a>
                <a><%= link_to 'Editar', edit_simulator_path(simulator), class:"btn btn-primary" %></a>
                <a><%= link_to 'Apagar', simulator, method: :delete, data: { confirm: 'Deseja continuar?' }, class:"btn btn-primary" %></a>
              </div><br><br>
              <p>
                <%= link_to 'Ver Agora', simulator.url, target:"_blank", :class => "btn btn-lg btn-primary" %>
              </p>
            </div>
          </div>
        </div>
<% end %>   
      </div>
    </div>    
  </div>
<br>

<div class="btn-group" role="group" aria-label="label">
  <a class="btn btn-primary" href="/simulators">1</a>
  <a class="btn btn-primary" href="/simulators?page=2">2</a>
  <a class="btn btn-primary" href="/simulators?page=3">3</a>
  <!--<a class="btn btn-primary" href="/simulators?page=4">4</a>
  <a class="btn btn-primary" href="/simulators?page=5">5</a>
  <a class="btn btn-primary" href="/simulators?page=6">6</a>-->
</div><br><br>

<p>
  <%= link_to 'Novo Simulador', new_simulator_path, class:"btn btn-primary" %>
</p>
