<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @simulator.name %>
</p>

<p>
  <strong>Categoria:</strong>
  <%##= @simulator.category.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @simulator.url %>
</p>

<%= link_to 'Editar', edit_simulator_path(@simulator) %> |
<%= link_to 'Voltar', simulators_path %>
