<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<meta name="description" content="Free template from FreeWebtemplates.com">
	<meta name="keywords" content="Free template from FreeWebtemplates.com">
	<meta name="revisit-after" content="7days">
	<meta name="robots" content="index, follow">
 
<style type="text/css">
	body,td			{ font-family: arial, helvetica; color: #454545; font-size: 12px; }

	h1{
		color:white;
	}
	

	A:link			{ text-decoration: none; color: #2244ee; }
	A:visited		{ text-decoration: none; color: #2244ee; }
	A:hover			{ text-decoration: underline; color: #000;}

	.hidden			{ font-size: 8px; font-weight: bold; color: #ffffff; }
	A:link.hidden		{ text-decoration: none; color: #ffffff; }
	A:visited.hidden	{ text-decoration: none; color: #ffffff; }
	A:hover.hidden		{ text-decoration: none; color: #ffffff; }

	.small			{ font-size: 10px; }

	.emph			{ font-weight: bold; }
</style>


</head>

<body bgcolor="FFFFFF" TEXT="000000" LINK="0000FF" VLINK="0000FF">


<table border=0 width=80% border=0 cellpading=2 cellspacing=2 align=center bgcolor="#000000">
<tr bgcolor=#0A0089 height=60><td colspan=3>
<center><h1>Simuladores</h1></center>
</td></tr>

<tr bgcolor=#000000><td colspan=3>
<center>
<a href=""><font size=2 face="verdana,arial,helvetica"><b>Link 1</b></font></a> 
&nbsp;
<a href=""><font size=2 face="verdana,arial,helvetica"><b>Link 2</b></font></a> 
&nbsp;
<a href=""><font size=2 face="verdana,arial,helvetica"><b>Link 3</b></font></a> 
&nbsp;
<a href=""><font size=2 face="verdana,arial,helvetica"><b>Link 4</b></font></a> 
&nbsp;
<a href=""><font size=2 face="verdana,arial,helvetica"><b>Link 5</b></font></a> 
&nbsp;
<a href=""><font size=2 face="verdana,arial,helvetica"><b>Link 6</b></font></a> 
&nbsp;
<a href=""><font size=2 face="verdana,arial,helvetica"><b>Link 7</b></font></a> 
</center>
</td></tr>

<tr>

<td Valign=top width="20%" bgcolor=#0A0089 height=800px>

<table border=0 cellpading=0 cellspacing=0 width=100% bgcolor=000000>
<tr><td>&nbsp;<a href=""><font size=2 face="Verdana,arial,helvetica"><b>Link 1</b></font></a></td></tr>
</table><br>

<table border=0 cellpading=0 cellspacing=0 width=100% bgcolor=000000>
<tr><td>&nbsp;<a href=""><font size=2 face="Verdana,arial,helvetica"><b>Link 2</b></font></a></td></tr>
</table><br>

<table border=0 cellpading=0 cellspacing=0 width=100% bgcolor=000000>
<tr><td>&nbsp;<a href=""><font size=2 face="Verdana,arial,helvetica"><b>Link 3</b></font></a></td></tr>
</table><br>

<table border=0 cellpading=0 cellspacing=0 width=100% bgcolor=000000>
<tr><td>&nbsp;<a href=""><font size=2 face="Verdana,arial,helvetica"><b>Link 4</b></font></a></td></tr>
</table><br>

<table border=0 cellpading=0 cellspacing=0 width=100% bgcolor=000000>
<tr><td>&nbsp;<a href=""><font size=2 face="Verdana,arial,helvetica"><b>Link 4</b></font></a></td></tr>
</table><br>

</td>

<td Valign=top width="60%" bgcolor="#ccc">

<table border=0 width=99% align=center>
<tr>

<td Valign=top>

<b>Articles</b><br><br>

<font size=2>

<%= link_to 'Simuladores', simulators_path %>

<br><br>

<%= link_to 'Simulador1', static_pages_simulador1_path %>

<br><br>

<a href="">Article Name 3</a> - brief intro to the article would go here.
Maybe the first two to three lines or the first paragraph. To entice reader to continue.<br>
<font size=1><a href=""><b>Read more here....</b></a></font>

<br><br>

</font>

</td></tr></table>

</td>

<td Valign=top width="20%" bgcolor="#0A0089">

<table border=0 cellpading=0 cellspacing=0 width=100% bgcolor=000000>
<tr><td>&nbsp;<a href=""><font size=2 face="Verdana,arial,helvetica"><b>Sponsor 1</b></font></a></td></tr>
</table>
<table border=0 cellpading=0 cellspacing=0 width=100%>
<tr><td>&nbsp;<font size=1 face="Verdana,arial,helvetica"><b>Texto</b></font></td></tr>
</table><br>

<table border=0 cellpading=0 cellspacing=0 width=100% bgcolor=000000>
<tr><td>&nbsp;<a href=""><font size=2 face="Verdana,arial,helvetica"><b>Sponsor 2</b></font></a></td></tr>
</table>
<table border=0 cellpading=0 cellspacing=0 width=100%>
<tr><td>&nbsp;<font size=1 face="Verdana,arial,helvetica"><b>Texto</b></font></td></tr>
</table><br>

<table border=0 cellpading=0 cellspacing=0 width=100% bgcolor=000000>
<tr><td>&nbsp;<a href=""><font size=2 face="Verdana,arial,helvetica"><b>Sponsor 3</b></font></a></td></tr>
</table>
<table border=0 cellpading=0 cellspacing=0 width=100%>
<tr><td>&nbsp;<font size=1 face="Verdana,arial,helvetica"><b>Texto</b></font></td></tr>
</table><br>


</td>

</tr>


</table>

<center>
<font size=2>
© 2015 <i>Instituto de Tecnologia ORT</i> by Gabriel Fernandes
</font>
</center>

</body>
</html> 
