<h1>Dúvidas e Sugestões</h1>
<p>&nbsp</p><p>&nbsp</p>

<p>Mande sua dúvida ou sugestão:</p>
<br>

<div class="col-md-6 col-md-offset-3">
	<div class="well well-md">
	    <%= form_tag('/simulators', class:"form-horizontal") do %>
	        <fieldset>
	            <legend class="text-center header">Cadastro:</legend>
	            <div class="col-md-10 col-md-offset-1">
	                <div class="form-group">
	                    <div class="col-md-12">
	                        <input id="name" name="name" type="text" placeholder="Nome de Usuário" class="form-control" autocomplete="off" required tabindex="1">
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-10 col-md-offset-1">
	                <div class="form-group">
	                    <div class="col-md-12">
	                        <input id="email" name="email" type="email" placeholder="Email" class="form-control" autocomplete="off" required tabindex="2">
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-10 col-md-offset-1">
	                <div class="form-group">
	                    <div class="col-md-6">
	                        <input id="password" name="password" type="password" placeholder="Digite sua senha" class="form-control" autocomplete="off" required tabindex="3">
	                    </div>
	                    <div class="col-md-6">
	                        <input id="password-confirm" name="password-confirm" type="password" placeholder="Confirme sua senha" class="form-control" autocomplete="off" required tabindex="4">
	                    </div>
	                </div>                            
	            </div>
	            <div class="col-md-10 col-md-offset-1">
	                <div class="form-group">
	                    <div class="col-md-6">
	                        <input id="idade" name="idade" type="number" placeholder="Idade" class="form-control" autocomplete="off" required tabindex="5">
	                    </div>
	                    <div class="checkbox">
		                    <label style="color:#505050">
		                        <input type="checkbox" id="checkbox" name="checkbox" tabindex="6">Emails sobre novos simuladores
		                    </label>
	                    </div>
	                </div>
	            </div>
	            
	            <div class="form-group">
	                <div class="col-md-12 text-center">
	                	<input type="submit" class="btn btn-primary" tabindex:"7">
	                </div>
	            </div>
	        </fieldset>
	    <% end %>
	</div>
</div>
<br>
<p>&nbsp</p>
<p>&nbsp</p><p>&nbsp</p><p>&nbsp</p>
<p>&nbsp</p><p>&nbsp</p><p>&nbsp</p>
<p>&nbsp</p><p>&nbsp</p><p>&nbsp</p>
<br>

<div class="col-md-12">
    <%= link_to 'Voltar', simulators_path, class:"btn btn-primary", tabindex:"8" %>
</div><br><br><br><br>