<h1>Dúvidas e Sugestões</h1>
<p>&nbsp</p><p>&nbsp</p>

<p>Mande sua dúvida ou sugestão:</p>
<br>

<div class="col-md-6 col-md-offset-3">
	<div class="well well-md">
	    <%= form_tag('/pages/success', class:"form-horizontal") do %>
	        <fieldset>
	            <legend class="text-center header">Fale Conosco:</legend>
	            <div class="col-md-6" height="400px">
	                <div class="form-group">
	                    <div class="col-md-11 col-md-offset-1">
	                        <input id="name" name="name" type="text" placeholder="Nome" class="form-control" autocomplete="off" required tabindex="1">
	                    </div>
	                </div>

	                <div class="form-group">
	                    <div class="col-md-11 col-md-offset-1">
	                        <input id="email" name="email" type="email" placeholder="Email" class="form-control" autocomplete="off" required tabindex="2">
	                    </div>
	                </div>

	                <div class="form-group">
	                    <div class="col-md-11 col-md-offset-1">
	                        <input id="assunto" name="assunto" type="text" placeholder="Assunto" class="form-control" autocomplete="off" required tabindex="3">
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6">
	                <div class="form-group">
	                    <div class="col-md-11">
	                        <textarea class="form-control" id="message" name="message" placeholder="Escreva aqui" rows="6" required tabindex="4"></textarea>
	                    </div>
	                </div>
                            
	            </div>

	            <div class="form-group">
	                <div class="col-md-12 text-center">
	                	<input type="submit" class="btn btn-primary" tabindex:"5">
	                </div>
	            </div>
	        </fieldset>
	    <% end %>
	</div>
</div>
<br>
<p>&nbsp</p>
<p>&nbsp</p><p>&nbsp</p><p>&nbsp</p>
<p>&nbsp</p><p>&nbsp</p><p>&nbsp</p>
<p>&nbsp</p><p>&nbsp</p><p>&nbsp</p>
<br>

<div>
    <%= link_to 'Voltar', simulators_path, class:"btn btn-primary", tabindex:"6" %>
</div>