<h1>Sites Interessantes</h1>
<p>&nbsp</p><p>&nbsp</p>

<p>Veja mais aqui:</p>
<br>

<p>
	<a href="https://phet.colorado.edu/pt_BR/">
		PhET
	</a><br><br>
	<a href="http://www.uff.br/cdme/">
		Conteúdos Digitais - UFF
	</a><br><br>
	<a href="http://objetoseducacionais2.mec.gov.br/handle/mec/">
		Objetos Educacionais - MEC
	</a><br><br>
	<a href="">
		Física Vivencial
	</a><br><br>
	<a href="http://www.noas.com.br/">
		Noas
	</a><br><br>
	<a href="http://www.walter-fendt.de/html5/phpt/index.html">
		Apps de Física
	</a>
</p>

<p>&nbsp</p><p>&nbsp</p><p>&nbsp</p>
<p>&nbsp</p><p>&nbsp</p>

<p>
  <button class="btn btn-primary">
    <%= link_to 'Voltar', simulators_path %>
  </button>
</p>


