<div class="row">
    <!--corpo-->
    <h1 id="sec0">Sobre o SimulEdu</h1>
    <div class="col-md-6 col-md-offset-3", style="text-align:justify">
        <br>
        <p style="font-weight:normal; font-size:120%">
          SimulEdu é uma plataforma digital que visa a educação aliada ao entretenimento. Para isso conta com uma coletânea de simuladores que auxiliam nos estudos escolares. Além disso, é possível encontrar simuladores feitos durante a produção do projeto montados com PhysicsJS. SimulEdu é para aquele que está procurando e quer achar. É incrível com aprender pode ser divertido!<br><br>

          Então, aproveite.</p>  
    <p>&nbsp</p><p>&nbsp</p><p>&nbsp</p><p>&nbsp</p>
    <p>&nbsp</p><p>&nbsp</p><p>&nbsp</p><p>&nbsp</p>
    <p>&nbsp</p>

    </div>

    <p class="col-md-2 col-md-offset-5">
        <%= link_to 'Voltar', simulators_path, class:"btn btn-primary" %>
    </p>

</div>