<div class="col-md-6 col-md-offset-3">
	<div class="alert alert-success alert-dismissible" role="alert">
	  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  	<strong>Sucesso!</strong> Seu email foi enviado com êxito.
	</div>
</div>
<br>
<p>&nbsp</p>
<p>&nbsp</p><p>&nbsp</p><p>&nbsp</p>
<p>&nbsp</p><p>&nbsp</p><p>&nbsp</p>
<p>&nbsp</p><p>&nbsp</p><p>&nbsp</p>
<br>
<div>
        <%= link_to 'Voltar', simulators_path, class:"btn btn-primary", tabindex:"6" %>
</div>