<h2>Entrar</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group col-sm-4 col-sm-offset-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control" %>
  </div>

  <div class="form-group col-sm-4 col-sm-offset-4">
    <%= f.label :senha %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group col-sm-4 col-sm-offset-4">
      <%= f.check_box :remember_me %>
      <%= f.label :lembrar_de_mim %>
    </div>
  <% end -%>

  <div class="form-group col-sm-4 col-sm-offset-4">
    <%= f.submit "Entrar", class:"btn btn-primary" %>
  </div>
<% end %>

<div class="col-sm-12">
  <%= render "devise/shared/links" %>
<div>