body {
  background-image: url("/bg.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: top; 
  color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
}

p {
    font-weight: bold;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
}

th {
  font-size:120%;
}

td, th{
  padding: 10px;
  text-align: left;
  background-color: #000000;
}

table{
  border: 5px solid #000; 
  border-spacing: 10px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 10px;
}

a {
  color: #fff;

  &:visited {
    color: #fff;
  }

  &:hover {
    color: #ddd;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: #55ff55;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
  
}

input, select, textarea{
  color: #555;
}

#mudafundo {
    background-color:#454545;
    color:white;
    animation: bgchange 2s infinite;
}

@keyframes bgchange {
    50% {background-color: #121212;}
}

#mudacor {
    color:#484848;
    animation: tchange 10s infinite;
}

@keyframes tchange {
    50% {color:#848484;}
}

#cormuda{
    color:#C0C0C0;
    animation: textchange 10s infinite;
}

@keyframes textchange {
    33% {color: #383838;}
    66% {color: #383838;}
}

#color_blue {
    color:blue;
    font-size:150%;
    animation: brchange 10s infinite;
}

@keyframes brchange {
    50% {color: red;}
}

#color_red {
    color:red;
    font-size:150%;
    animation: rbchange 10s infinite;
}

@keyframes rbchange {
    50% {color: blue;}
}