# Empty CSS file for your own CSS

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.breadcrumb {background: rgba(31, 31, 31, 1); background: -webkit-linear-gradient(top, rgba(56, 56, 56, 1) 0%, rgba(31, 31, 31, 1) 100%); background: linear-gradient(to bottom, rgba(56, 56, 56, 1) 0%, rgba(31, 31, 31, 1) 100%); border: #000000px solid rgba(245, 245, 245, 1); border-radius: #808080px; display: block;}
.breadcrumb li {font-size: #d6d6d6px;}
.breadcrumb a {color: rgba(187, 187, 187, 1);}
.breadcrumb a:hover {color: rgba(153, 150, 150, 1);}
.breadcrumb>.active {color: rgba(153, 153, 153, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\002F\00a0";}