<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'favicon.ico' %>
  	
    <title>SimulEdu</title>
  	
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>

  	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
  
<body>
<center>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
           
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <%= link_to 'SimulEdu', simulators_path, class:"navbar-brand" %>
    </div>
        
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="dropdown">
               <a href="" class="dropdown-toggle" data-toggle="dropdown">Categorias<strong class="caret"></strong></a>
              <ul class="dropdown-menu">

              <% category_order = Category.all.order :category_id %>
              <% category_order.each do |category| %>

                <li>
                  <a href="/simulators?search=<%= category.name %>"><%= category.name %></a>
                </li>

              <% end %>
              </ul>
            </li>
            <li class="dropdown">
               <a href="" class="dropdown-toggle" data-toggle="dropdown">Saiba mais<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/pages/duvidas">Dúvidas e Sugestões</a>
                </li>
                <li>
                  <a href="/pages/sites">Sites Interessantes</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/pages/sobre">Sobre o SimulEdu</a>
            </li>
        </ul>
        <form class="navbar-form navbar-right" name="searchForm" role="search" method="get" action="/simulators" >
            <div class="form-group">
              <input type="text" class="form-control" name="search" placeholder="Pesquisar" autocomplete="off" tabindex="1">
            </div> 
            <button type="submit" class="btn btn-default">
	            Buscar
            </button>
        </form>
    </div>
</nav><br><br><br><br>
<div class="row">
	<div class="col-md-8">
		<p class="breadcrumb" id="cormuda">
      <marquee behavior="scroll" direction="right" scrolldelay="100" style="text-align:center;">
          Descubra, aprenda e divirta-se!
          &#160 &#160 &#160 &#160 &#160 &#160 &#160
          &#160 &#160 &#160 &#160 &#160 &#160 &#160
          <% if user_signed_in? %>
            Olá <%= current_user.email%>
          <% end %>
          &#160 &#160 &#160 &#160 &#160 &#160 &#160
          &#160 &#160 &#160 &#160 &#160 &#160 &#160
          Procure no lugar certo!
      </marquee>
		</p>
	</div>
	<div class="col-md-2">					 
		<p>
		  <%= link_to 'Cadastre-se', new_user_registration_path, class:"btn btn-primary btn-block"  %>  
		</p>
	</div>
	<div class="col-md-2">
	  <p>
			<% if user_signed_in? %>
        <t>
          <%= link_to 'Sair ' +current_user.email, destroy_user_session_path, :method => :delete, class:"btn btn-primary btn-block" %>
        </t>
      <% else %>
        <t>
          <%= link_to 'Entrar', new_user_session_path, class:"btn btn-primary btn-block"  %>
        </t>
      <% end %>
		</p>
	</div>
</div>


<%= yield %>
<hr style="border-color:#303030">
&#169 2015 por Gabriel Fernandes<br>
Instituto de Tecnologia ORT
<br><br>
</center>
</body>
</html>
